{{- $name := .Get "name" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $width := int (.Get "width" | default 900) -}}
<figure class="shot-figure">
  {{- range $variant := (slice "light" "dark") -}}
    {{- with resources.Get (printf "images/%s-%s.png" $name $variant) -}}
      {{- $scaled := .Resize (printf "%dx webp" $width) -}}
      <img class="shot only-{{ $variant }}" src="{{ $scaled.RelPermalink }}" width="{{ $scaled.Width }}"
           height="{{ $scaled.Height }}" alt="{{ $alt }}" loading="lazy" decoding="async">
    {{- end -}}
  {{- end -}}
  {{- with .Get "caption" }}<figcaption>{{ . }}</figcaption>{{ end -}}
</figure>
